#offer {
    min-height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./../images/offer.png');
    background-position: center;
}